<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Send Email</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center">
		<div>
			<h1>Email Sending</h1>
		</div>
		<form th:action="@{/process_sending}" th:object="${email}" 
			method="POST" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">To Address: </label>
				<div class="col-8">
					<input type="text" th:field="*{send_to}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Subject: </label>
				<div class="col-8">
					<input type="text" th:field="*{subject}" class="form-control" 
							required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Message: </label>
				<div class="col-8">
					<input type="text" th:field="*{message}" class="form-control" 
							required minlength="2" style="height:200px"/>
				</div>
			</div>
					
			<div>
				<button type="submit" class="btn btn-primary">Send</button> 
			</div>
		</div>
		</form>
	</div>
</body>
</html>
